APP_PORT=8787
APP_HOST=127.0.0.1
SYNC_CONFIG_PATH=config/sync/config.json
GOOGLE_APPLICATION_CREDENTIALS=config/gcp/julang-dev-database-876c2efba122.json
P1_API_BASE_URL=https://cs-mail.n8n-julang-tech-dev.com
P1_API_KEY=<cloud access key>
